.zaions__dropdown_toggle {
  background-color: transparent !important;
  border: none !important;
  margin-right: 1rem !important;
  padding: 0 !important;
  width: max-content !important;
  /* color: blue; */
}

.zaions__dropdown_toggle:hover {
  color: inherit !important;
}

.zaions__dropdown_item {
  color: #9ba9bb !important;
}

.zaions_shorturl_options {
  width: 500px;
  padding: 1rem;
}

.zaions_cursor__pointer {
  cursor: pointer;
}

.zaions__modal_icon {
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50%;
  display: inline;
  font-size: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
