/* @import url('https://fonts.googleapis.com/css2?family=Proxima+Nova');
body {
	font-family: 'Proxima Nova', Georgia, sans-serif !important;
} */
/* Importing Tailwind CSS */
@import url('theme/tailwind.css');

@import url('theme/variables.css');
a {
	text-decoration: none;
}
li {
	list-style: none;
}

ion-app.ios ion-title {
	position: initial !important;
	width: max-content !important;
	height: max-content !important;
	display: inline !important;
}

.zaions-transition {
	transition: all 0.3s ease !important;
	-webkit-transition: all 0.3s ease !important;
	-moz-transition: all 0.3s ease !important;
	-ms-transition: all 0.3s ease !important;
	-o-transition: all 0.3s ease !important;
}

/* Scrollbar */
.zaions_pretty_scrollbar::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

.zaions_pretty_scrollbar::-webkit-scrollbar-track {
	background-color: rgba(var(--ion-color-medium-rgb), 0.25);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.zaions_pretty_scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(var(--ion-color-light-rgb));
	border-radius: 5px;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

/* Fonts */
.lato {
	font-family: 'Lato', sans-serif !important;
}

.roboto {
	font-family: 'Roboto', sans-serif !important;
}

.B612 {
	font-family: 'B612', sans-serif !important;
}

.san-serif {
	font-family: sans-serif !important;
}

.serif {
	font-family: serif !important;
}

.Alegreya {
	font-family: 'Alegreya', sans-serif !important;
}

.titillium-web {
	font-family: 'Titillium Web', sans-serif !important;
}

.vollkorn {
	font-family: 'Vollkorn', sans-serif !important;
}

.IBM-plex-serif {
	font-family: 'IBM Plex Serif', sans-serif !important;
}

.source-serif-pro {
	font-family: 'Source Serif Pro', sans-serif !important;
}

.roboto-slab {
	font-family: 'Roboto Slab', sans-serif !important;
}

.roboto-condensed {
	font-family: 'Roboto Condensed', sans-serif !important;
}

.poppins {
	font-family: 'Poppins', sans-serif !important;
}

.source-serif-4 {
	font-family: 'Source Serif 4', sans-serif !important;
}

.apple-system {
	font-family: "-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'";
}

/*  */
.zaions_list_default li {
	list-style: disc;
}

.zaions_list_decimal li {
	list-style: decimal;
}

.zaions_hr {
	width: 83%;
	height: 1px;
	background-color: #eff0f2;
}

.border-radius__100vmax {
	--border-radius: 100vmax !important;
	border-radius: 100vmax !important;
	-webkit-border-radius: 100vmax !important;
	-moz-border-radius: 100vmax !important;
	-ms-border-radius: 100vmax !important;
	-o-border-radius: 100vmax !important;
}
.border-radius__50per {
	--border-radius: 50%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* Fonts Sizes */
.zaions__fs_11 {
	font-size: 11px !important;
}
.zaions__fs_12 {
	font-size: 12px !important;
}
.zaions__fs_13 {
	font-size: 13px !important;
}
.zaions__fs_14 {
	font-size: 14px !important;
}
.zaions__fs_15 {
	font-size: 15px !important;
}
.zaions__fs_16 {
	font-size: 16px !important;
}
.zaions__fs_18 {
	font-size: 18px !important;
}

.zaions__fs_25 {
	font-size: 25px !important;
}
.zaions__fs_3rem {
	font-size: 3rem !important;
}

.zaions__heading {
	line-height: 48px;
}

.letter-spacing-0px {
	letter-spacing: 0px !important;
}

@media only screen and (max-content: 968px) {
	.zaions_hr {
		margin: 0 auto;
	}
}

.logo {
	height: 50px;
	/* padding-left: 2.1rem; */
	width: max-content;
}

.menu-product-logo {
	min-width: 34px;
	width: 34px;
	max-width: 50px;
}

.zaions__cursor_pointer {
	cursor: pointer !important;
}

.zaions__cursor_nodrop {
	cursor: no-drop;
}

span.new {
	font-size: 12px;
	display: inline-block;
	color: #fff;
	font-weight: 400;
	padding: 0 3px;
	background-color: #0b1736;
	line-height: 15px;
	vertical-align: middle;
	margin-top: -2px;
}

.underline {
	text-decoration: underline;
}

/* Colors */
.zaions__color_dark {
	color: #252628 !important;
}
.zaions__color_dark_2 {
	color: #2a2e30 !important;
}

.zaions__color_gray {
	color: #9ca1ad;
}

.zaions__color_gray2 {
	color: #56575b;
}

.zaions__color_gray_light {
	color: #828387;
}

.zaions_ion_color_light {
	color: var(--ion-color-light);
}

.zaions-background-set {
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.zaions__bg_gray {
	background-color: #f5f6f7;
}
.zaions__bg_light_opacity_point5 {
	background: rgba(var(--ion-color-light-rgb), 0.5);
}

.zaions__bg_white {
	background-color: var(--ion-color-white) !important;
	--background: var(--ion-color-white) !important;
}

.zaions__bg_f5f6fa {
	background-color: #f5f6fa;
}
.zaions__bg_transparent {
	background: transparent;
}

.border-bottom-danger {
	border-bottom: 1px solid var(--ion-color-danger) !important ;
}
.border-bottom-success {
	border-bottom: 1px solid var(--ion-color-success) !important ;
}
.border-bottom__sand {
	border-bottom: 1px solid #e0e2d9;
}

.border-bottom__violet {
	border-bottom: 2px solid #edf5fd;
}

.z-ion-border-primary {
	border: 1px solid var(--ion-color-primary);
}

.z-ion-border-secondary {
	border: 1px solid var(--ion-color-secondary);
}

/* Color Set */
.zaions__primary_set {
	background: rgba(var(--ion-color-primary-rgb), 0.2);
	color: var(--ion-color-primary-contrast);
}
.zaions__secondary_set {
	background: rgba(var(--ion-color-secondary-rgb), 0.2);
	color: var(--ion-color-secondary-contrast);
}
.zaions__tertiary_set {
	background: rgba(var(--ion-color-tertiary-rgb), 0.2);
	color: var(--ion-color-tertiary-contrast);
}
.zaions__success_set {
	background: rgba(var(--ion-color-success-rgb), 0.2);
	color: var(--ion-color-success-contrast);
}
.zaions__warning_set {
	background: rgba(var(--ion-color-warning-rgb), 0.2);
	color: var(--ion-color-warning-contrast);
}
.zaions__danger_set {
	background: rgba(var(--ion-color-danger-rgb), 0.2);
	color: var(--ion-color-danger-contrast);
}
.zaions__dark_set {
	background: rgba(var(--ion-color-dark-rgb), 0.2);
	color: var(--ion-color-dark-contrast);
}
.zaions__medium_set {
	background-color: rgba(var(--ion-color-medium-rgb), 0.2);
	color: var(--ion-color-medium-shade);
}
.zaions__light_set {
	background: rgba(var(--ion-color-light-rgb), 0.2);
	color: var(--ion-color-light-contrast);
}
.zaions__medium_bg {
	background-color: var(--ion-color-medium);
}

.zaions__light_bg {
	background-color: var(--ion-color-light);
}

.zaions__primary_bg {
	background-color: var(--ion-color-primary);
}
.zaions_bg__dark {
	background: var(--ion-color-dark);
}

.zaions__dark_bg_opacity_point_7 {
	background: rgba(var(--ion-color-dark-rgb), 0.7);
}

/* Width's */
.zaions__max_content {
	width: max-content;
}

.zaions__w95 {
	width: 95%;
}

.zaions__w90 {
	width: 90%;
}
.zaions__w88 {
	width: 88%;
}
.zaions__w80 {
	width: 80%;
}

.zaions__w70 {
	width: 70%;
}

.zaions__w60 {
	width: 60%;
}

.zaions__w50 {
	width: 50%;
}

.zaions__w43 {
	width: 43%;
}

.zaions__w40 {
	width: 40%;
}

.zaions__w35 {
	width: 35%;
}

.zaions__w30 {
	width: 30%;
}

.zaions__w20 {
	width: 20%;
}

.zaions__w100px {
	width: 100px;
}

.zaions__w50px {
	width: 50px;
}

/* Height's */
.zaions_h100 {
	height: 100%;
}

.zaions_h100vh {
	height: 100vh;
}

.zaions_h90vh {
	height: 90vh;
}

.zaions__h90 {
	height: 90%;
}

.zaions__h85 {
	height: 85%;
}

.zaions__h80 {
	height: 80%;
}

.zaions__h70 {
	height: 70%;
}

.zaions__h60 {
	height: 60%;
}

.zaions__h50 {
	height: 50%;
}

.zaions__h40 {
	height: 40%;
}

.zaions__h100 {
	height: 100%;
}

.zaions__h100px {
	height: 100px;
}

.zaions__h50px {
	height: 50px !important;
}

.zaions_primary_color {
	background-color: #2a5bd7 !important;
}
.zaions_secondary_color {
	/* background-color: #0b1736 !important;
   */
	background-color: var(--ion-color-secondary);
}
.zaions-ion-bg-color-light {
	background-color: var(--ion-color-light);
}

.zaions-ion-bg-color-medium {
	background-color: var(--ion-color-medium);
}

.accordion-button::after {
	display: none;
}

.zaions-object-fit-cover {
	object-fit: cover;
}

.zaions__nav_item {
	cursor: pointer;
	letter-spacing: 0.2px;
	font-size: 16px;
	position: relative;
}
.zaions__nav_item:hover {
	color: #2a5bd7;
}

.zaions__nav_item::after {
	display: block;
	position: absolute;
	content: '';
	top: 1.7rem;
	bottom: 0rem;
	left: 50%;
	height: 2px;
	width: 0;
	background: #2a5bd7;
	border: 0;
	transition: width 150ms ease-out, left 150ms ease-out;
	transform: translate(-50%, 0);
}

.zaions__nav_item:hover::after {
	width: 60%;
}

.zaions__page_title {
	color: #252628;
	/* font-family: "ProximaNova ExtraBold","Helvetica Neue",Helvetica,Arial,sans-serif; */
	/* font-size: 62px; */
	/* font-size: 60px; */
	font-size: 3.3rem;
	font-weight: 800;
	/* font-weight: 750; */
	line-height: 56px;
}
.zaions__page_subtitle {
	color: #56575b;
	/* font-family: "ProximaNova Regular","Helvetica Neue",Helvetica,Arial,sans-serif; */
	font-size: 24px;
	font-weight: 400;
}

.zaions__getAQuote_btn {
	font-size: 15px;
	letter-spacing: 1px;
	cursor: pointer;
}

.zaions__new_tag {
	line-height: 16px;
	font-family: 'ProximaNova Medium', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	background-color: #60aa69;
	border-radius: 3px 3px 3px 3px;
	/* display: inline-block; */
	padding: 2.5px 5px;
	color: #fff;
	font-size: 11px;
	margin-left: 5px;
	vertical-align: middle;
}

.zaions__tertiary_btn {
	background-color: #edf2fe;
}
.zaions__tertiary_btn:hover {
	background-color: #cedafa;
}

.zaions_lh_15px {
	line-height: 15px;
}

.carousel-indicators {
	display: none !important;
}

/* Default Roles */
*:has(> .item-select-disabled),
.item-select-disabled,
.toggle-disabled,
.toggle-disabled input {
	cursor: not-allowed !important;
}

.sc-ion-input-md-h input {
	padding: 0 !important;
}

.border-rounded {
	border-radius: 100vmax;
	-webkit-border-radius: 100vmax;
	-moz-border-radius: 100vmax;
	-ms-border-radius: 100vmax;
	-o-border-radius: 100vmax;
}

.zaions__modal_icon {
	display: inline;
	font-size: 1.5rem;
	padding: 12px 9px;
	padding-bottom: 2px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

ion-modal.zaions__modal_w100 {
	--width: 80vw;
	--height: 80vh;
}
/* IonPopover as a actions menu */
.zaions__ion_popover {
	--width: max-content;
	--max-width: 150px;
	--min-width: 125px;
	/* --offset-x: 0px; */
}

.ZaionsTextEllipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100px;
	max-width: 100px;
}

.rc-switch {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 44px;
	height: 22px;
	line-height: 20px;
	padding: 0;
	vertical-align: middle;
	border-radius: 20px 20px;
	border: 1px solid #ccc;
	background-color: #ccc;
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
	overflow: hidden;
}
.rc-switch-inner-checked,
.rc-switch-inner-unchecked {
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 0;
	transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-switch-inner-checked {
	left: -14px;
}
.rc-switch-inner-unchecked {
	left: 24px;
}
.rc-switch:after {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 2px;
	top: 1px;
	border-radius: 50% 50%;
	background-color: #fff;
	content: ' ';
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	transform: scale(1);
	transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
	animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
	animation-duration: 0.3s;
	animation-name: rcSwitchOff;
}
.rc-switch:hover:after {
	transform: scale(1.1);
	animation-name: rcSwitchOn;
}
.rc-switch:focus {
	box-shadow: 0 0 0 2px tint(#2db7f5, 80%);
	outline: none;
}
.rc-switch-checked {
	border: 1px solid var(--ion-color-primary);
	background-color: var(--ion-color-primary);
}
.rc-switch-checked .rc-switch-inner-checked {
	left: 6px;
}
.rc-switch-checked .rc-switch-inner-unchecked {
	left: 44px;
}
.rc-switch-checked:after {
	left: 22px;
}
.rc-switch-disabled {
	cursor: no-drop;
	background: #ccc;
	border-color: #ccc;
}
.rc-switch-disabled:after {
	background: #9e9e9e;
	animation-name: none;
	cursor: no-drop;
}
.rc-switch-disabled:hover:after {
	transform: scale(1);
	animation-name: none;
}
.rc-switch-label {
	display: inline-block;
	line-height: 20px;
	font-size: 14px;
	padding-left: 10px;
	vertical-align: middle;
	white-space: normal;
	pointer-events: none;
	user-select: text;
}

.zaionsPaneContent {
	overflow-y: scroll !important;
}

.overflow__hidden {
	overflow: hidden;
}

.zaions__dotted_list {
	padding-left: 16px;
	--width: 100%;
}

.zaions__dotted_list ion-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.zaions__dotted_list ion-item::before {
	content: '•';
	font-size: 1.3rem;
}

@keyframes rcSwitchOn {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1.1);
	}
}
@keyframes rcSwitchOff {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
.zaions_item_input_bb {
	border-bottom: 1px solid #aeaeae;
}

.ZLIonBadge {
	--color: var(--ion-color-success-shade);
	--background: transparent;
	font-size: 0.7rem;
	font-weight: 900;
}

.ion-item-start-no-padding {
	--padding-start: 0px;
}

/* React select custom styles...  */
.zaions__rs__control {
	border: none !important;
	box-shadow: none !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.13) !important;
}
.zaions__rs__indicators .zaions__rs__indicator-separator {
	display: none !important;
}
.zaions__rs__menu {
	z-index: 999 !important;
}
.geo-location-country-field {
	margin-top: 2px;
}
.invalid .zaions__rs__control {
	border-bottom: 2px solid var(--ion-color-danger) !important ;
}
.valid .zaions__rs__control {
	border-bottom: 2px solid var(--ion-color-success) !important ;
}

.hover\:outline-sand {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 75ms;
}

.hover\:outline-sand:hover {
	outline-color: #e0e2d9;
	outline-offset: 3px;
	outline-width: 2px;
	outline-style: solid;
	border-radius: 100vmax;
	-webkit-border-radius: 100vmax;
	-moz-border-radius: 100vmax;
	-ms-border-radius: 100vmax;
	-o-border-radius: 100vmax;
}
.ff-column-reverse {
	flex-flow: column-reverse;
}
.link-in-bio-folder-modal {
	--height: 50vh;
	--width: 33vw;
}

.row-gap-1-rem {
	row-gap: 1rem;
}

.row-gap-1-point-6-rem {
	row-gap: 1.6rem;
}

.row-gap-2-rem {
	row-gap: 2rem;
}

.text-transform-initial {
	text-transform: initial !important;
}

.zaions-color-piker {
	width: 3rem;
	height: 3rem;
	border: none;
	margin-bottom: 0.2rem;
	cursor: pointer;
	-webkit-appearance: none;
}

.zaions-border-primary {
	--border-width: 2px !important;
	--border-color: var(--ion-color-primary) !important;
	--border-style: solid !important;
}
.zaions-border-color-secondary {
	border-color: var(--ion-color-secondary) !important;
}
.zaions-border-transparent {
	--border-width: 2px;
	--border-style: solid;
	--border-color: transparent;
}
.zaions-datetime-btn::part(native) {
	/* background: var(--ion-color-primary);
  color: #fff;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--ion-color-primary); */
	background: #fff;
	color: var(--ion-color-dark);
	box-shadow: var(--box-shadow);
	border-bottom: 1px solid rgba(0, 0, 0, 0.13);
	border-radius: 0;
	padding-left: 6px;
	width: 100%;
	text-align: left;
}
.zaions-datetime-btn::part(native):last-child {
	background: var(--ion-color-secondary);
}

/* Modals */
.pixel-account-modal-size,
.utm-tags-modal-size {
	--height: 85vh;
	--width: 30.6vw;
}

.embed-widget-modal-size {
	--height: 85vh;
	--width: 50.6vw;
}

.link-in-bio-time-filter-modal-size {
	--width: 200px;
	--height: 300px;
}

.file-upload-modal-size,
.workspace-setting-modal-size,
.workspace-post-detail-modal-size {
	--height: 94vh;
	--width: 87.6vw;
}

/* @media only screen and (max-content: 1012px) {
	.workspace-post-detail-modal-size {
		--height: 100% !important;
		--width: 90% !important;
	}
} */

.workspace-sharing-modal-size {
	--height: 75vh;
	--width: 650px;
}

.workspace-compose-modal-size {
	--height: 59vh;
	--width: 650px;
}

.workspace-edit-page-modal {
	--height: 79vh;
	--width: 700px;
}
@media only screen and (max-content: 768px) {
	.workspace-sharing-modal-size {
		--width: 95% !important;
	}
}

.workspace-connect-pages-modal-size {
	--height: 92vh;
	--width: 63.6vw;
}

.workspace-create-pages-modal-size {
	--height: 95vh;
	--width: 755px;
}

.folder-modal-size,
.api-key-modal-size {
	--height: 50vh;
	--width: 33vw;
}

.create-workspace-modal-size {
	--height: 67vh;
	--width: 33vw;
}

.pixel-account-detail-modal-size,
.note-detail-modal-size,
.dashboard-filter-modal-size {
	--height: 55vh;
	--width: 33vw;
}

.lib-block-modal-size {
	--width: 500px;
	--height: 365px;
}

.link-in-bio-form-fields-modal-size {
	--width: 592px;
	--height: 380px;
}

/* Popovers */
.zaions_present_folder_Action_popover_width {
	--width: 150px;
}

.zaions_user_info_popover_size,
.workspace_form_permission_popover_size {
	--width: 300px;
}
.short_link_options_popover_size {
	--width: 400px;
}

.zaions_workspaces_card_popover_size {
	--width: 350px;
}

.zaions_workspaces_actions_popover_size {
	--width: 256px;
}

.zaions_workspaces_profile_popover_size {
	--width: 270px;
}

.zaions_workspaces_notifications_popover_size {
	--width: 560px;
}

.zaions_workspaces_import_export_popover_size {
	--width: 191px;
}
.workspace_form_role_popover_size {
	--width: 500px;
	--height: 350px;
}

/* Link-in-bio design-theme-customAppearance & design-block-customAppearance buttons styles */
.inlineSquare {
	--border-radius: 0;
	border-radius: 0;
}

.inlineRound {
	--border-radius: 10px;
	border-radius: 10px;
}

.zaions-button-type-button-active {
	--border: solid 2px var(--ion-color-primary);
	color: #fff;
	--box-shadow: 0 3px 6px #00000029;
}

.open-folder-menu-button {
	--padding-top: 27px;
	--padding-bottom: 27px;
	margin-top: 0;
	margin-bottom: 17px;
}

/* Workspace */
.zaions_comment_box {
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.08))
		drop-shadow(0 0 1px rgba(50, 79, 58, 0.15));
}
/* .zaions_comment_box::before {
	background: inherit;
	content: '';
	height: 10px;
	left: -5px;
	position: absolute;
	top: 16px;
	transform: rotate(45deg);
	width: 10px;
} */
